*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: auto;
}

#main-app{
    width: 100%;
    margin: auto;
    background: white;
}



p{
    padding-bottom:16px;
}
